@media (min-width: 915px) {
    .rowCard {
        padding-left: 50px;
        padding-right: 50px;
    }

    .card {
        margin-bottom: 1%;
    }

    .me-5-lg {
        margin-right: 1.5rem !important;
    }

}

#iconNav {
    color: white !important;
    text-decoration: none !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: black !important;
}