@media (min-width: 915px) {
  .rowCard {
    padding-left: 50px;
    padding-right: 50px;
  }

  .card {
    margin-bottom: 1%;
  }

  .me-5-lg {
    margin-right: 1.5rem !important;
  }

}

#iconNav {
  color: white !important;
  text-decoration: none !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: black !important;
}

.modal-content {
  border: none !important;
}

.paddingZero {
  padding-right: 0px !important;
  padding-left: 0px !important;
}


.paddingZeroLeft {
  padding-left: 0px !important;
}

.color-black {
  color: black !important;
  text-decoration: none !important;
}

.color-black:hover {
  color: gray !important;
  text-decoration: none !important;
}

.color-black-without-hover:hover {
  color: black !important;
  text-decoration: none !important;
}

body {
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
}


footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.barra {
  display: flex;
}

.colors {
  background-color: #198754 !important;
  color: white !important;
}

.favIcon {
  color: #ffc107;
}

.urgIcon {
  color: red
}

.impIcon {
  color: red;
}

.margin-barra {
  margin-top: 1%;
  margin-bottom: 1%;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
      transform: scale(0);
  }

  50% {
      transform: scale(1.25);
  }

  100% {
      transform: scale(1);
  }
}